@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast {
  background: transparent !important;
  box-shadow: none !important;
}

.pac-container {
  font-family: 'Hind', sans-serif;
}

.pac-icon {
  display: none;
}

.pac-item {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.pac-item:hover {
  background-color: #f1f5f9;
}

.pac-item-query {
  font-size: 14px;
  color: #1e293b;
}

.pac-matched {
  color: #7c3aed;
}

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  width: 100%;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
}

.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}
